@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity));
}

#carouselExampleControls {
    width: 60vw;
}

#carouselExampleControls img {
    height: 70vh;
}

#Footer {
    position: relative;
    top: 100%;
    height: 110px;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity));
}

Link {
    text-decoration: none;
    color: white;
}

#HomeStyle h1 {
    font-family: 'Poppins', sans-serif;
    /* letter-spacing: 0.5vw; */
    position: relative;
    font-size: 5vw;
    color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity));
    -webkit-text-stroke: 0.2vw white;
    text-transform: uppercase;
}

#HomeStyle h1::before {
    /* letter-spacing: 0.5vw; */
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 6vw rgba(var(--bs-info-rgb), var(--bs-bg-opacity));
    border-right: 2px solid aqua;
    overflow: hidden;
    animation: textanimate ease-in-out 10s infinite;

}

@keyframes textanimate {

    0%,
    10%,
    100% {
        width: 0%;
    }

    50%,
    70%,
    90% {
        width: 100%;
    }
}
/* .hoverclass{
    position: relative;
} */
.hoverclass:hover .ba::before {
    content: '';
    position: absolute;
    width: 600px;
    height: 120px;
    left: 50%;
    top: 50%;
    z-index: 0;
    background: linear-gradient(transparent , aqua,aqua,aqua,transparent);
    animation: beforeAnimation 4s linear infinite;
}

@keyframes beforeAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.hoverclass .ba::after {
    content: '';
    position: absolute;
    inset: 10px;
    background: white;
}
.hoverclass img{
    padding: 5%;
}
.hoverclass img{
    z-index: 1;
}
.hoverclass .cardTitle{
    width: 100%;
    height: 100%;
    color: black;
    z-index: 1;
}
.hoverclass .content{
    z-index: 1;
}
.btn {
    border-radius: 40px;
    width: 120px;
}

p {
    text-align: justify;
}

.header-content ul li {
    font-size: 20px;
    letter-spacing: 1px;
}

.header {
    display: flex;
    justify-content: center;
}

.header div #heading {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.header-content ul {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.header-content ul li .lilink {
    text-decoration: none;
    list-style: none;
    padding: 1vw;
    margin: 0.1vw;
    font-size: 1.2em;
    color: white;
}

.header-content ul li .lilink {
    position: relative;
}

.header-content ul li .lilink::before {
    content: '';
    height: 5px;
    position: absolute;
    background: aqua;
    width: 90%;
    bottom: 5px;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.header-content ul li .lilink:hover::before {
    transform: scaleX(100%);
}

.header div #heading:hover {
    color: aqua;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
}

.header-content ul li .lilink:hover {
    color: aqua;
}

.hoverclass img {
    height: 20vh;
}

.hoverclass {
    height: 300px;
    overflow: hidden;
    border: none;
    transition: transform 1s;
}

.hoverclass .content {
    transform: translateY(180%);
    left: 20%;
    position: absolute;
}

.col {
    height: 380px;
}

.hoverclass:hover {
    height: 370px;
    transition: 0.5s;
}

.hoverclass:hover .content {
    transform: translateY(120%);
    transition: transform 1s;
}

.hoverclass{
    position: relative;
}
.hoverclass .btn::before {
    content: '';
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 3px solid;
    position: absolute;
    top: 64%;
    left: 60%;
    transform: translateX(0%);
    transition: transform 1s;
}

.hoverclass .btn::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 3px solid;
    top: 87%;
    left: 35%;
    transform: translateX(0%);
    transition: transform 1s;
}

.hoverclass .btn:hover::before {
    transform: translateX(-60px);
}

.hoverclass .btn:hover {
    z-index: 1;
    color: white;
    z-index: 1;
    box-shadow: 0 0 20px aqua;
}

.hoverclass .btn:hover::after {
    transform: translateX(60px);
}

.detailsBtn {
    position: relative;
}

.detailsBtn .btn::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    top: 32%;
    transform: translateX(-130%);
    transition: 1s;
}

.details .btn::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    top: 61%;
    transform: translateX(130%);
    transition: 1s;
}

.details .btn:hover::before {
    border: 2px solid aqua;
    transform: translateX(50px);
}

.details .btn:hover::after {
    border: 2px solid aqua;
    transform: translateX(-50px);
}