@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#imageBox {
    min-height: 100vh;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity));
    border-radius: 0 0 40% 40%;
}

#carouselExampleControls {
    width: 60vw;
}

#carouselExampleControls img {
    height: 70vh;
    border-radius: 10%;
}

#Footer {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 12vw;
    /* top: 100%; */
    /* height: 110px; */
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity));
}
#Footer .footerUl{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footerlink li{
    list-style: none;
    color: white;
}
.footerlink{
    text-decoration: none;
}
.footer1outer{
    margin-top: 1%;
    margin-left: 5vw;
    position: relative;
    width: 20%;
}
.footer1outer .footer1::after{
    content: '';
    position: absolute;
    width: 1%;
    height: 90%;
    left: 130%;
    bottom: 5%;
    background-color: white;
}
#footer2outer{
    margin-top: 1%;
    margin-left: 5vw;
    position: relative;
    width: 20%;
}
#footer2outer #footer2::after{
    content: '';
    position: absolute;
    width: 1%;
    height: 90%;
    left: 150%;
    bottom: 5%;
    background-color: white;
}
#footer3{
    margin-top: 1%;
    width: 30%;
}
Link {
    text-decoration: none;
    color: white;
}
#HomeStyle h1 {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 5vw;
    color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity));
    -webkit-text-stroke: 0.1vw white;
    text-transform: uppercase;
}

#HomeStyle h1::before {
    /* letter-spacing: 0.5vw; */
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 6vw rgba(var(--bs-info-rgb), var(--bs-bg-opacity));
    border-right: 1px solid aqua;
    overflow: hidden;
    animation: textanimate ease-in 10s infinite;

}

@keyframes textanimate {

    0%,
    10%,
    100% {
        width: 0%;
    }

    50%,
    70%,
    90% {
        width: 100%;
    }
}
.LatestProductImg{
    margin: 5%;
    display: flex;
    justify-content: center;
    width: 90vw;
    gap: 5%;
}
.LatestProductImg img{
    width: 40vw;
}
.homeImgL1,.homeImgL2{
    display: flex;
    justify-content: center;
}
.homeImgL1 .homeImg{
    width: 30%;
    border: none;
}
.homeImgL2 img{
    width: 90vw;
}
.topProducts{
    display: flex;
    justify-content: center;
}
.topProducts .productImg{
    width: 20%;
    border: none;
}
.topProducts .productImg img{
    border-radius: 50%;
}
.hoverclass:hover .ba::before {
    content: '';
    position: absolute;
    width: 600px;
    height: 120px;
    left: 50%;
    top: 50%;
    z-index: 0;
    background: linear-gradient(transparent , aqua,aqua,aqua,transparent);
    animation: beforeAnimation 4s linear infinite;
}
@keyframes beforeAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.hoverclass .ba::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: white;
}
.hoverclass img{
    padding: 10%;
}
.hoverclass img{
    z-index: 1;
}
.hoverclass .cardTitle{
    width: 100%;
    height: 100%;
    color: black;
    z-index: 1;
}
.hoverclass .content{
    z-index: 1;
}
.btn {
    border-radius: 40px;
    width: 120px;
}

p {
    text-align: justify;
}

.header-content ul li {
    font-size: 17px;
    letter-spacing: 1px;
}

.header {
    display: flex;
    justify-content: center;
}

.header div #heading {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.header-content ul {
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
}

.header-content ul li .lilink {
    text-decoration: none;
    list-style: none;
    padding: 1vw;
    margin: 0.1vw;
    font-size: 1.2em;
    color: white;
}

.header-content ul li .lilink {
    position: relative;
}

.header-content ul li .lilink::before {
    content: '';
    height: 2px;
    position: absolute;
    background: aqua;
    width: 90%;
    bottom: 5px;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.header-content ul li .lilink:hover::before {
    transform: scaleX(100%);
}
.header div #heading{
    transition: 0.7s;
    letter-spacing: 1px;
}
.header div #heading:hover {
    color: aqua;
}

.header-content ul li .lilink:hover {
    color: aqua;
}

.hoverclass img {
    height: 23vh;
}

.hoverclass {
    height: 300px;
    overflow: hidden;
    border: none;
    transition: transform 1s;
}

.hoverclass .content {
    transform: translateY(180%);
    left: 20%;
    position: absolute;
}

.col {
    height: 380px;
}

.hoverclass:hover {
    height: 400px;
    transition: 0.5s;
}

.hoverclass:hover .content {
    transform: translateY(130%);
    transition: transform 1s;
}

.hoverclass{
    position: relative;
}
.hoverclass .btn::before {
    content: '';
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 3px solid;
    position: absolute;
    top: 64%;
    left: 60%;
    transform: translateX(0%);
    transition: transform 1s;
}

.hoverclass .btn::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 3px solid;
    top: 87%;
    left: 35%;
    transform: translateX(0%);
    transition: transform 1s;
}

.hoverclass .btn:hover::before {
    transform: translateX(-60px);
}
.hoverclass:hover .btn{
    padding: 5%;
}
.hoverclass .btn:hover {
    z-index: 1;
    color: white;
    z-index: 1;
    box-shadow: 0 0 20px aqua;
}

.hoverclass .btn:hover::after {
    transform: translateX(60px);
}

.detailsBtn {
    position: relative;
}

.detailsBtn .btn::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    top: 32%;
    transform: translateX(-130%);
    transition: 1s;
}

.details .btn::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    top: 61%;
    transform: translateX(130%);
    transition: 1s;
}

.details .btn:hover::before {
    border: 2px solid aqua;
    transform: translateX(50px);
}

.details .btn:hover::after {
    border: 2px solid aqua;
    transform: translateX(-50px);
}
#footer3 ul li{
    position: relative;
}
#footer3 ul li i{
    color: #fff;
}
#footer3 ul li i::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    left: 45%;
    transition: 0.5s;
    transform: translateX(0%);
    background-color: #fff;
}
#footer3 ul li i:hover::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 1%;
    left: 45%;
    transform: translateY(30px);
    transition: 0.5s;
    color: white;
}
#footer3 ul li .fa-instagram:hover::after{
    background-color:#dd207b;
}
#footer3 ul li .fa-whatsapp:hover::after{
    background-color:#25d366;
}
#footer3 ul li .fa-twitter:hover::after{
    background-color:#1da1f2;
}
#footer3 ul li .fa-youtube-play:hover::after{
    background-color:#ff0000;
}

#footer3 ul li .fa-instagram:hover{
    color:#dd207b;
}
#footer3 ul li .fa-whatsapp:hover{
    color:#25d366;
}
#footer3 ul li .fa-twitter:hover{
    /* background-color: #fff; */
    color:#1da1f2;
}
#footer3 ul li .fa-youtube-play:hover{
    color:#ff0000;
}